@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#dashboard-activity-dropdown{
  margin-bottom: 20px;
}
#calories-value{
  font-size: 60px;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.odometer{
  font-size: 60px;
}
.panel-height{
  height: 185px;
}
